<p>Listado de Héroes</p>

<!-- Otra solución era:
<div *ngIf="heroeBorrado"> Es tan inteligente que si está vaia no cumple condicion-->
<div *ngIf="heroeBorrado; else noBorrado">
    <h3>Héroe Borrado: <small>{{ heroeBorrado }}</small></h3>
</div>

<!-- Referencia del ng-if cuando hay un else -->
<ng-template #noBorrado>
    <h3>No ha borrado nada.</h3>
</ng-template>


<button (click)="borrarHeroe()">Borrar Heroe</button>

<ul>
    <li *ngFor="let heroe of heroes; let i = index">
        {{ i+1 }} - {{ heroe }}
    </li>
</ul>
